$fontStyle: "Helvetica", sans-serif;

// COLORS
$bgColor: #fff;
$green: #72B81F; // Secondary
$blue: #3B4D6A; // Main Text
$darkBlue: #1C2F50;

.mainWrapper {
  background-color: $bgColor;
  margin: 0px;
}
.logoSection{
  position: absolute;
  width: 100%;
  height: 63px;
  background-color: #F5F7ED;
  z-index:9;
}
.logo-section-grid {
  width: 70%;
  height: 63px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: $green;
}
.grid-section-left{
  display: flex;
  justify-content: left;
  width: 100%;
}
.grid-section-right{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.grid-section{
  align-items: center;
  justify-content: center;
  display: flex;
}
.grid-section-menu {
  align-items: center;
  justify-content: center;
  height:63px;
  display: flex;
}
.section-left img{
  margin-top: 10px;
}
.section-right{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.grid-inline{
  display: inline-block;
  margin:0px 10px 0px 10px;
}
.mainHeader {
  position: absolute;
  margin-top: 63px;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  background-color: #F0F2EB;
  z-index:8;
}
.menu-select{
  width:124px;
  height:40px;
  margin: 25px 0px;
  font-size: 0.78rem;
  padding: 10px 5px;
}
.section-grid-layout{
  width: 70%;
  height: 85px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  color: $blue;
}
.search-input{
  max-width: 500px;
  min-width: 350px;
  height:30px;
  margin: 20px 10px;
  padding: 5px 10px;
}
.search-button{
  width:100px;
  height:40px;
  border-radius: 3px;
  background-color: $blue;
  color: $bgColor;
}
.account-menu {
  list-style-type: none;
}
.acc-menu-item{
  display: inline-block;
  margin: 20px 10px;
  text-align: center;
}
.acc-menu-item p {
  font-weight: 600;
  padding-top:5px;
  font-size: 0.6rem;
}
.sliderWrapper{
  display:flex;
  justify-content: space-between;
  width: 100%;
  min-width:250px;

  // Cards Style
  &__contentBox{
    position:absolute;
    width: 100%;
    display:block;
    background-color:white;
    overflow: hidden;
  }

  &__contentSlidesBox {
    display: flex;
    margin-left: -100%;
    margin-top: 145px;
    width: 100%;
    justify-content: space-between;
    transition: 0.5s;
  }

  &__card{
    width:100%;
    display: flex;
  }

  &__card img{
    width:fit-content;
  }

  // Button Styles
  &__buttoBox {
    justify-content: center;
    font-size:24px;
    display: inline-block;
  }
  &__button {
    background-color: #373737;
    opacity: 0.5;
    color: white;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
  }
}
.welcomeTextBlock{
  position: absolute;
  width:100%;
  margin: auto;
  text-align: center;
  top:180px;
}
.welcomeTextBlock > .first-line, .second-line, .shop-now{
  padding: 10px;
  color: $blue;
}
.first-line {
  font-size: 2rem;
}
.second-line {
  font-size: 2.6rem;
  font-weight: 600;
}
.shop-now {
  font-size: 1.2rem;
  font-weight: 600;
}
.switchButton {
  background-color: #373737;
  color: white;
  border:  0;
  padding: 10px;
  height: 200px;
}
.radioWrapper {
  max-width:350px;
  width: 280px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373737;
  margin: 0px 10px 0px 10px;
  opacity: 0.5;
}
.radioButtonBox {
  display: inline-block;
  justify-content: center;
}
.radioLabels{
  display: inline-block;
  margin: 5px 5px;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size:1.2rem;
  background-color: #373737;
  border-radius: 20px;
  border:1px solid #fff;
}
.radioLabels > input[type="radio"]:checked{
  color: #fff;
  background-color: $bgColor;
}
.radioLabels input{
  position: absolute;
  width: 0;
  height: 0;
}
.radioDisplayNone {

}
@media (max-width: 550px){
  .mainWrapper {
    width:450px;
  }
  .sliderWrapper{
    width:450px;

    &__contentBox{
      width: 350px;
    }
    &__card{
      width: 100%;
      min-width: 350px;
    }
    &__card img {
      width:100%;
      min-width: 350px;
    }

  }
}
.slider-navigation{
  position: absolute;
  bottom: 120px;
  display: flex;
  color: #373737;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
}
.radioValueText{
  font-size: 1.125rem;
}
@media (max-width: 450px){
  .mainWrapper {
    width:350px;
  }
  .sliderWrapper{
    width: 350px;

    &__contentBox{
      width: 250px;
    }
    &__card{
      width: 100%;
      min-width: 250px;
    }
    &__card img {
      width:100%;
      min-width: 250px;
    }

  }
}
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: $bgColor;
  font-family: $fontStyle;
  font-size: 0.85rem;
}
p{
  font-family: $fontStyle;
}
a {
  text-decoration: none;
  color:$blue;
  font-weight: bold;
}

// Content
.contentSection{
  position: relative;
  display: block;
  width: 1000px;
  margin: 0 auto;
  top: 526px;
  border:1px solid grey;
  background-color: white;
}
.sort-menu{
  list-style-type: none;
  display: flex;
}
.sort-menu-item{
  padding: 20px;
}
.sort-item-link{
  margin:20px 30px;
  background-color: $bgColor;
  border-radius: 5px;
}
.sort-item-link:hover{
  background-color: $blue;
  color:$bgColor;
}


.category-menu {
  padding: 20px;
  font-size: 0.6875rem;
  list-style-type: none;
  color: $blue;
}
.category-menu p {
  font-weight: bold;
}
.category-menu-item{
  padding-top: 5px;
}

.product-section{
  display: block;
}
.product-block{
  width: 176px;
  margin: 25px 10px;
}
.product-description{
  font-size: 0.6875rem;
  padding-top: 5px;
}
.product-price{
  font-size: 1rem;
  padding-top: 5px;
}
.product-new-text{
  padding-top: 5px;
  color: red;
}

//Footer

.footer-section{
  margin-top: 550px;
  color: $bgColor;
  width: 100%;
  background-color: $blue;
  display: flex;
  justify-content: center;
}
.footer-section h3{
  font-size: 0.9375rem;
}
.footer-section .grid-section .grid-section-right{
  width: auto;
}
.newsletter-block {
  display: flex;
  height:200px;
  justify-content: center;
  align-items: center;
}
.newsletter-input {
  height:30px;
  margin: 20px 0px;
  padding: 5px 10px;
  width: 250px;
}
.newsletter-button {
  background-color: $green;
  border: 0;
  border-radius: 5px;
  margin:0px 10px;
}
.footer-grid-width{
  width: 70%;
}
.footer-contwork-menu{
  padding: 0 20px;
  margin: 0 20px;
}
.footer-contact-menu li , .footer-work-menu li, .footer-learn-menu li{
  padding:5px 0px;
}
.footer-contact-menu , .footer-work-menu{
  width: 160px;
  margin: 50px;
}
.footer-learn-menu {
  list-style-type: none;
}
.cr-section{
  width: 100%;
  background-color: $darkBlue;
  color:$bgColor;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-section-crText{
  width:70%;
}